<div class="container p-4">
    <h2>Support</h2>
    <div class="row">
        <p class="col-sm-8">
            Please check if your question has already been answered in the FAQ before you write an E-Mail.
            If you can, please write your E-Mail in english or german, otherwise I'll try my best to translate the E-Mail!
            It could take a couple of days until you receive an answer.
        </p>
        <div class="col-sm-4">
            <b>E-Mail: </b>support@jump4fun.dev<br>
            <b>Subject: </b>{{subjectLine}}<br><br>
            <b *ngIf="subjectLine == 'Support Request'" class="text-danger">Please state the Name of the App in the
                Subject<br><br></b>
            <a class="btn btn-primary" style="width:inherit;"
                href="mailto:support@jump4fun.dev?subject={{subjectLine}}">Contact via E-Mail</a>
        </div>
    </div>
    <h2 class="mt-4" *ngIf="faqs.length != 0">FAQ</h2>
    <div class="accordion mt-4" id="accordion" *ngIf="faqs.length != 0">
        <div class="card card-color" *ngFor="let faq of faqs; index as i">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                        aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                        {{faq.question}}
                    </button>
                </h2>
            </div>

            <div id="{{ 'collapse' + i }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p *ngFor="let line of faq.answer">
                        {{line}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>