/* You can add global styles to this file, and also import other style files */

@media (prefers-color-scheme: dark) {
  :root {
    --colorBackgroundPrimary: #121212;
    --colorTextPrimary: #d3d3d3;
    --colorTextDisabled: rgba(211, 211, 211, 0.5);
    --colorTextBorder: rgba(211, 211, 211, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --colorBackgroundPrimary: white;
    --colorTextPrimary: black;
    --colorTextDisabled: rgba(0, 0, 0, 0.5);
    --colorTextBorder: rgba(0, 0, 0, 0.1);
  }
}

@media (prefers-color-scheme: no-preference) {
  :root {
    --colorBackgroundPrimary: white;
    --colorTextPrimary: black;
    --colorTextDisabled: rgba(0, 0, 0, 0.5);
    --colorTextBorder: rgba(0, 0, 0, 0.1);
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--colorBackgroundPrimary);
  color: var(--colorTextPrimary);
}
